{% extends "base.html" %}
{% load static %}
{% block content %}				
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-15 about-section" style="background-color: transparent;">
							
							<img class="img-fluid" src="{% static 'images/logo+bg.png' %}" alt="CCCB Logo" id="aboutme"><br>

							<h2 class="text-left">About Me</h2>

							<p>Click Check Chat Buy is an online platform that enables users to post their items and check for existing items. I offer variety of items ranging from electronics to clothing, home and garden accessories, sports, outdoor, books, toys, furnitures for resale, vehicles and other general items.</p>

							<p>My Mission:-</p>
							<p>My mission is to provide buying and selling items experience as easy and convenient as possible. I would like to
								provide my website users with a safe and secure platform to buy and sell items, and I am committed in providing excellent customer service.</p>

							<p>Values:</p>
							<ul>
								<li>Integrity</li>
								<li>Trust</li>
								<li>Customer service</li>
								<li>Innovation</li>
							</ul>

							<p>I as an individual, would like to provide the best customer experience and for that I am always looking for ways to improve my platform and make it
								better for my users.</p>

							<p>If you have any questions or feedback, please do not hesitate to contact me. I would love to hear it from you!</p>
							<br>
						</div>
					</div>
				</div>
			
		</div>
	</div>


	


	<div class="container-fluid">
		<div class="container-fluid">
			<div class="container text-center mt-5">
				<h2>Meet the Creator</h2>

				<div class="row justify-content-center">
					<div class="col-md-6">
						<H3>Rudra Mankad</H3>(Front End Developer, Back End Developer, Cloud Service, Database Designer, Automation Tester)</p>
						<p><a href="mailto:rudramankad@csu.fullerton.edu">rudramankad@csu.fullerton.edu</a></p>
					</div>
				</div>
			</div>

		{% endblock %}