{% extends "base.html" %}
{% block content %}
	<br><br>

	<!-- The main container -->
	<div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="item-form">
              <h2 class="text-center">Add Item</h2>
              <form action="{% url 'index:uploaditem' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="item_name" class="form-label">Item Name</label>
                  <input type="text" class="form-control" id="item_name" name="item_name" placeholder="Enter item name">
                </div>
                <div class="mb-3">
                    <label for="category" class="form-label">Item Category</label>
                    <select class="form-control" id="category" name="category">
                      {% for i in category %}
                        <option value="{{i.name}}">{{i.name}}</option>
                        {% endfor %}
                    </select>
                </div>                                
                <div class="mb-3">
                  <label for="description" class="form-label">Item Description</label>
                  <textarea class="form-control" id="description" name="description" rows="3" placeholder="Enter item description"></textarea>
                </div>
                <div class="mb-3">
                  <label for="price" class="form-label">Item Price</label>
                  <input type="number" class="form-control" id="price" name="price" step="0.01" placeholder="Enter item price">
                </div>
                <div class="mb-3">
                  <label for="condition" class="form-label">Item Condition</label>
                  <select class="form-control" id="condition" name="condition">
                    <option value="New">New</option>
                    <option value="Used - Excellent">Used - Excellent</option>
                    <option value="Used - Good">Used - Good</option>
                    <option value="Used - Fair">Used - Fair</option>
                  </select>
                </div>
                <div class="mb-3">
                  <label for="photos" class="form-label">Item Photos</label>
                  <input type="file" class="form-control" id="photos" name="photos" multiple>
                </div>
                <div class="mb-3">
                  <button type="submit" class="btn btn-primary">Add Item</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
       
    {% endblock  %}